<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
 
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('request_view') }}">View Requests</a></li>
            <li><a href="{{ url_for('assigned_view') }}">View asigned </a><li>
            <li><a href="{{ url_for('help_view') }}">View help </a><li>
    </nav>
</body>
</html>







</body>
</html>